body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

iframe[style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; border: none; z-index: 2147483647;"] {
  pointer-events: none;
}

.main-id {
  height: 100vh;
  padding-bottom: 100px;
  overflow: scroll;
}

.contain-child {
  display: flex;
  flex-wrap: wrap;
  .button-child,
  .badge-child {
    margin: 10px;
  }
}
.rapid-checkbox,
.rapid-input,
.rapid-rate {
  margin: 10px;
}
